:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #1a1a1a;
  --text-color-dark: #ffffff;
  --button-background-color-light: #ffffff;
  --button-background-color-dark: #4CAF50;
  --button-hover-color-light: #e6e6e6;
  --button-hover-color-dark: #45a049;
  --button-text-color-light: #000000;
  --button-text-color-dark: #ffffff;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.error-container.light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.error-container.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.error404-heading {
  margin-top: 10px;
  font-size: 4rem;
  margin-bottom: 20px;
  color: rgb(14, 88, 14); /* Moved the color to the class */
}

.panda-image {
  width: 500px;
  margin-bottom: 0px;
  margin-top: -80px;
}

.error404-text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: -20px;
}

.go-back-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: var(--button-background-color-light);
  color: var(--button-text-color-light);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.error-container.dark .go-back-button {
  background-color: var(--button-background-color-dark);
  color: var(--button-text-color-dark);
}

.go-back-button:hover {
  background-color: var(--button-hover-color-light);
}

.error-container.dark .go-back-button:hover {
  background-color: var(--button-hover-color-dark);
}

@media (max-width: 768px) {
  .panda-image {
    width: 300px;
  }
}